.ardadrawings{
    position: absolute;
    top: 15vh;
    width: 39%;
    height: 80%;
    transform: scaleX(-1);
    animation: ardaBounce 2s ease 0s 1 forwards;
}

@keyframes ardaBounce{
    0%   { opacity: 0; transform: translate(120vh, 5vh) scaleX(-1); }
    100% { opacity: 1; transform: translate(120vh, 0) scaleX(-1); }
}

.text-area {

    position: absolute;
    text-align: center;
    transform: translate(45vh, 0vh);/* Görsel olarak yukarı çeker, boşluk oluşturmaz */
    height: auto;
}

.entrance-writings {
    font-weight: bold;
    font-size: 7rem;
    margin: 0;
    font-family: "Arial Black", Helvetica, sans-serif;

}
.entrance-title {
    font-size: 1.25rem;
    margin: 0.5rem 0 0;
}

.cite{
    font-size: 1.50rem;
    font-family: "Brush Script MT", cursive;
    margin-top: 10rem !important;
}
body {
    background-image:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("C:\Users\ardao\OneDrive\Desktop\ardaonurportfolio\public\background.png");
    background-size: initial;
    background-repeat: repeat;
    background-position: center;
}
